.cover {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  position: relative;
}
.cover:hover .cover__overlay {
  opacity: 0.8;
}
@media screen and (min-width: 767px) {
  .cover {
    min-width: 768px;
    min-height: 480px;
  }
}
@media screen and (min-width: 1023px) {
  .cover {
    min-width: 1024px;
    min-height: 640px;
  }
}
@media screen and (min-width: 1279px) {
  .cover {
    min-height: 740px;
    width: 1184px;
    margin: 0 auto;
  }
}